@import "normalize.css";
@import "variables.css";

html {
    height: 100vh;
    font-family: Inter, sans-serif;
    color: var(--color-light-primary);
}
.body {
    background: var(--color-dark-secondary);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.title {
    margin: 0 0 10px;
    padding-top: 30px;

    a {
        display: block;
        font-weight: 700;
        font-size: 16px;
        text-align: center;
        color: var(--color-dark-primary);
        transition: color .3s;
        text-decoration: none;

        &:hover {
            color: var(--color-blue-primary);
            transition: color .3s;
        }
    }
}
.subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    margin: 0;
    padding-bottom: 50px;
}
.tabs {
    text-align: center;
    padding-bottom: 50px;
}
.tab {
    display: inline-block;
    padding: 0 9px;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    text-decoration: none;
    color: var(--color-blue-secondary);

    &.active, &:hover {
        color: var(--color-blue-primary);
    }
}

.alert {
    position: fixed;
    width: 320px;
    height: 50px;
    background: var(--color-blue-secondary);
    border-radius: 0 0 10px 10px;
    top: 0;
    left: calc(50% - 160px);
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-blue-primary);
    box-shadow: 0 0 4px rgba(0, 0, 0, .2);
    display: none;
    justify-content: center;
    align-items: center;

    &.error {
        background: var(--color-red-secondary);
        color: var(--color-red-primary);
    }

    &.active {
        display: flex;
    }
}