@import "base.css";

.body {
    background: var(--color-light-secondary);
    color: var(--color-dark-primary);
    justify-content: initial;
}

.dropzone {
    min-width: 340px;
    height: 200px;
    border: 1px dashed var(--color-blue-primary);
    padding: 16px 32px;
    border-radius: 10px;
    color: #999;
    cursor: pointer;
    margin-bottom: 30px;
    transition: background 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;

    @media screen and (min-width: 540px) {
        width: 540px;
    }

    .dragover {
        background: #eef;
        border-color: #339;
        color: #339;
    }
}
.dropzoneTitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    color: var(--color-dark-primary);
}
.dropzoneWarning {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    color: var(--color-blue-secondary);
}
.getLinkBtn {
    width: 100%;
    height: 39px;
    border-radius: 7px;
    padding: 12px 16px;
    gap: 10px;
    background: var(--color-blue-primary);
    color: var(--color-light-primary);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
    margin-bottom: 50px;
    &:not(:disabled):hover {
        background: var(--color-blue-secondary);
        color: var(--color-blue-primary);
        transition: all .3s;
    }
    &:disabled {
        background: var(--color-gray-primary);
        cursor: not-allowed;
    }
}

.linkTitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-dark-primary);
    padding-bottom: 10px;
}
.linkField {
    width: 540px;
    height: 62px;
    padding: 16px;
    border: 1px solid var(--color-blue-primary);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    background: var(--color-light-primary);
}
.copyLinkBtn {
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    background: var(--color-blue-primary);
    color: var(--color-light-primary);
    transition: all .3s;
    &:not(:disabled):hover {
        background: var(--color-blue-secondary);
        color: var(--color-blue-primary);
        transition: all .3s;
    }
    &:disabled {
        background: var(--color-gray-primary);
        cursor: not-allowed;
    }
}
.linkText {
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-gray-primary);
    flex: 1;
}
