@import "base.css";

.body {
    background: var(--color-light-secondary);
    color: var(--color-dark-primary);
    justify-content: initial;
}
.title {
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    margin: 0 0 10px;
    padding-top: 30px;
}
.subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    margin: 0;
    padding-bottom: 50px;
}
.tabs {
    text-align: center;
    padding-bottom: 50px;
}
.tab {
    display: inline-block;
    padding: 0 9px;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    text-decoration: none;
    color: var(--color-blue-secondary);

    &.active, &:hover {
        color: var(--color-blue-primary);
    }
}

.hide {
    display: none;
}

.empty {
    color: red;
}

.table {
    width: 800px;
}
.th, .td {
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    padding: 6px;
}
.td.name {
    display: flex;
    gap: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
}
.td.url a {
    font-weight: 300;
    font-size: 16px;
    line-height: 100%;
    text-decoration: none;
    color: var(--color-dark-primary);
    &:hover {
        text-decoration: underline;
    }
}
.td.delete .deleteBtn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--color-red-secondary);
    border-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
       border-color: var(--color-red-primary);
    }
}