@import "base.css";

.title {
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    margin: 0 0 10px;
    padding-top: 30px;
}
.subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    margin: 0;
    padding-bottom: 40px;
}

.actionsBlock {
    display: flex;
    justify-content: center;
}
.link {
    display: inline-flex;
    width: 160px;
    height: 39px;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    color: var(--color-light-primary);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    line-height: 1;
    background: var(--color-blue-primary);
    margin-bottom: 60px;
}
